@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
body {
    background-color: aliceblue;
    margin: 30px auto 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
.frame{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, .3);
    color: #786450;
    background: -webkit-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
}
.center{
    position: absolute;
    top: 50px;
    left: 40px;
    width: 320px;
    height: 300px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, .3);
}
.profile{
    float: left;
    width: 200px;
    height: 320px;
    text-align: center;
}
.image{
    position: relative;
    width: 70px;
    height: 70px;margin: 38px auto 0 auto;
}
.circle-1{
    position: absolute;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-width: 2px;
    border-color: #786450 #786450 #786450 transparent;
    border-style: solid;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}
.circle-2{
    position: absolute;
    box-sizing: border-box;
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-width: 2px;
    border-color:#786450 transparent #786450 #786450;
    border-style: solid;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}
.image img{
    display: block;
    border-radius: 50%;
    background-color: #f5e8df;
}
.image:hover {
    cursor: pointer;
}
.image:hover .circle-1{
    transform: rotate(360deg);
}
.image:hover .circle-2{
    transform: rotate(-360deg);
}
.name{
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
.job{
    font-size: 11px;
    font-weight: 100;
    line-height: 15px;
}
.actions{
    margin-top: 33px;
}
.btn{
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto 10px auto;
    background: none;
    border-radius: 15px;
    border: 1px solid #786450;
    font-size: 12px;
    font-weight: 600;
    color: #786450;
    transition: all .3s ease-in-out;
}
.btn:hover{
    background-color: #786450;
    color: white;
}
.stats{
    float: right;
}
.box{
    box-sizing: border-box;
    width: 120px;
    height: 99px;
    background-color: #F5E8DF;
    text-align: center;
    padding-top: 28px;
    transition: all .3s ease-in-out;
}
.box:hover{
    cursor: pointer;
    background-color: #E1CFC2;
}
.box:nth-child(2){
    margin: 1px 0;
}
span{
    display: block;
}
.value{
    font-size: 18px;
    font-weight: 600;
}
.parameter{
    font-size: 11px;
}